<h2 mat-dialog-title>Eliminar Plan de Tratamiento</h2>
<mat-dialog-content>
  <div>
    <p>¿Te gustaría eliminar el registro:</p>
    <br>
    <p class="text-md font-bold">
      {{data.illnessDetail.name}},{{data.illnessDetail.description}}?
    </p>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button (click)="closeDialog()" color="whiteLetter" mat-flat-button>No</button>
  <button (click)="eliminarTreatment(data.treatment.id)" color="primary" mat-flat-button cdkFocusInitial>Eliminar</button>
</mat-dialog-actions>