<mat-card class="m-4 p-6 shadow-lg">
    <mat-card-header>
        <div class="flex items-center justify-between w-full">
            <div *ngIf="logoUrl" class="mr-4">
                <!-- Preview del logo en base64 -->
                <img [src]="logoUrl" alt="Logo de la empresa" class="h-16 w-16 object-cover rounded-full" />
            </div>
            <mat-card-title class="w-full text-center">{{ company?.header }}</mat-card-title>
        </div>
    </mat-card-header>

    <mat-card-content class="mt-4">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <!-- Vista previa de colores -->
            <div class="flex flex-col items-center">
                <div class="text-center font-semibold mb-2">Color Primario</div>
                <div [style.backgroundColor]="company?.primaryColor" class="w-16 h-16 rounded-full border"></div>
                <span class="mt-2 text-gray-700">{{ company?.primaryColor }}</span>
            </div>

            <div class="flex flex-col items-center">
                <div class="text-center font-semibold mb-2">Color Secundario</div>
                <div [style.backgroundColor]="company?.secondaryColor" class="w-16 h-16 rounded-full border"></div>
                <span class="mt-2 text-gray-700">{{ company?.secondaryColor }}</span>
            </div>

            <div class="flex flex-col items-center">
                <div class="text-center font-semibold mb-2">Color del Botón Primario</div>
                <div [style.backgroundColor]="company?.primaryButtonColor" class="w-16 h-16 rounded-full border"></div>
                <span class="mt-2 text-gray-700">{{ company?.primaryButtonColor }}</span>
            </div>

            <div class="flex flex-col items-center">
                <div class="text-center font-semibold mb-2">Color del Botón Secundario</div>
                <div [style.backgroundColor]="company?.secondaryButtonColor" class="w-16 h-16 rounded-full border"></div>
                <span class="mt-2 text-gray-700">{{ company?.secondaryButtonColor }}</span>
            </div>
        </div>
    </mat-card-content>

    <div mat-dialog-actions class="flex justify-end space-x-4 mt-6">
        <button mat-raised-button color="primary" (click)="openEditDialog()">
            Editar
            <mat-icon class="ml-1" fontIcon="edit"></mat-icon>
        </button>
    </div>
</mat-card>
