<div class="p-6 w-full max-w-sm bg-white rounded-lg shadow-md">
    <h2 class="text-xl font-semibold text-center mb-4">Recuperar Contraseña</h2>
    <form [formGroup]="forgotPasswordForm2" class="space-y-4">
      <!-- Campo Usuario -->
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Usuario</mat-label>
        <input matInput formControlName="username" />
        <mat-error *ngIf="forgotPasswordForm2.get('username')?.invalid">
          El usuario es obligatorio.
        </mat-error>
      </mat-form-field>
  
      <!-- Campo Correo Electrónico -->
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Correo Electrónico</mat-label>
        <input matInput type="email" formControlName="email" />
        <mat-error *ngIf="forgotPasswordForm2.get('email')?.invalid">
          Proporcione un correo electrónico válido.
        </mat-error>
      </mat-form-field>
  
      <!-- Botones -->
      <div class="flex justify-between mt-4">
        <button mat-flat-button color="warn" (click)="onCancel()">
          Cancelar
        </button>
        <button mat-flat-button color="primary" (click)="onSubmit()" type="submit" [disabled]="forgotPasswordForm2.invalid || isProcessing">
          Restablecer
        </button>
      </div>
    </form>
  </div>