<mat-card class="cardWithShadow">
    <mat-card-content>
        <div class="flex justify-between">
            <div>
                <mat-card-title>Sucursales</mat-card-title>
                <mat-card-subtitle class="mat-body-1">Listado</mat-card-subtitle>
            </div>
            <button mat-flat-button color="primary" (click)="redirectCreate()"  *appHasPermission="crearSucursal">Crear Sucursal</button>
        </div>
    </mat-card-content>
</mat-card>
<mat-form-field>
    <input class="form-control" matInput placeholder="Buscar" (keyup)="applyFilter($event)">
</mat-form-field>
<table mat-table [dataSource]="dataSource">
    <!-- Position Column -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let branch"> {{branch.id}} </td>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let branch"> {{branch.name}} </td>
    </ng-container>
    <!-- Status Column -->
    <ng-container matColumnDef="isActive">
        <th mat-header-cell *matHeaderCellDef> Estado </th>
        <td mat-cell *matCellDef="let branch">
            <ng-template [ngIf]="branch.active===true">
                <span
                  class="bg-light-accent text-accent rounded f-w-600 p-6 p-y-4 f-s-12"
                >
                    Activo
                </span>
            </ng-template>
            <ng-template [ngIf]="branch.active===false">
                <span
                    class="bg-light-error text-error rounded f-w-600 p-6 p-y-4 f-s-12"
                >
                    Inactivo
                </span>
            </ng-template>
        </td>
    </ng-container>
    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let branch">
            <button mat-icon-button (click)="editBranch(branch)" matTooltip="Editar"  *appHasPermission="actualizarSucursal">
                <mat-icon [ngStyle]="{'color':'yellow'}" fontIcon="edit">more_vert</mat-icon>
            </button>
            <button mat-icon-button (click)="deleteBranch(branch)" matTooltip="Eliminar"  *appHasPermission="eliminarSucursal">
                <mat-icon [ngStyle]="{'color':'red'}" fontIcon="delete">home</mat-icon>
            </button>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSize]="7" showFirstLastButtons aria-label="Select page of periodic elements"></mat-paginator>
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>