<div class="flex items-center justify-center h-screen">
    <mat-card class="max-w-lg p-6 rounded-lg shadow-lg bg-white">
      <div class="text-center">
        <mat-icon fontIcon="lock" class="text-red-500" style="font-size: 80px;"></mat-icon>
        <h1 class="text-3xl font-bold text-gray-800 mt-4 mb-2">Acceso Denegado</h1>
        <p class="text-gray-600 mb-4">
          No tienes permisos suficientes para acceder a esta página.
        </p>
        <button mat-raised-button color="primary" (click)="goBack()">
          Regresar al Inicio
        </button>
      </div>
    </mat-card>
  </div>
  