<mat-card class="cardWithShadow">
  <mat-card-content>
    <div class="flex justify-between items-center">
      <div>
        <mat-card-title>Calendario de Citas</mat-card-title>
      </div>
      <div>
        <button mat-flat-button color="primary" (click)="redirectCreate()">
          Agregar cita
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<div class="flex justify-between items-center mt-4">
  <div >
    <button mat-stroked-button color="primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()">
      Previo
    </button>
    <button mat-stroked-button color="primary" mwlCalendarToday [(viewDate)]="viewDate">
      Hoy
    </button>
    <button mat-stroked-button color="primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()">
      Siguiente
    </button>
  </div>
  <div >
    <button mat-stroked-button color="primary" (click)="setView(CalendarView.Month)" [class.active]="view === CalendarView.Month">
      Mes
    </button>
    <button mat-stroked-button color="primary" (click)="setView(CalendarView.Week)" [class.active]="view === CalendarView.Week">
      Semana
    </button>
    <button mat-stroked-button color="primary" (click)="setView(CalendarView.Day)" [class.active]="view === CalendarView.Day">
      Día
    </button>
  </div>
</div>

<div class="flex justify-center space-x-4 mt-4">
  <h3 class="text-lg font-semibold">{{ viewDate | calendarDate:(view + 'ViewTitle'):'es' | titlecase }}</h3>
</div>

<br />

<div [ngSwitch]="view" class="w-full h-full overflow-hidden">
  <mwl-calendar-month-view
    *ngSwitchCase="CalendarView.Month"
    [viewDate]="viewDate"
    [locale]="locale"
    [events]="events"
    [refresh]="refresh"
    [activeDayIsOpen]="activeDayIsOpen"
    (dayClicked)="dayClicked($event.day)"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
  >
  </mwl-calendar-month-view>
  <mwl-calendar-week-view
    *ngSwitchCase="CalendarView.Week"
    [viewDate]="viewDate"
    [locale]="locale"
    [events]="events"
    [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
  >
  </mwl-calendar-week-view>
  <mwl-calendar-day-view
    *ngSwitchCase="CalendarView.Day"
    [viewDate]="viewDate"
    [locale]="locale"
    [events]="events"
    [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
  >
  </mwl-calendar-day-view>
</div>
