<mat-card class="cardWithShadow mb-4">
    <mat-card-content>
        <div class="flex justify-between items-center mb-4">
            <div>
                <div class="flex items-center mb-5 cursor-pointer hover:underline" (click)="returnPage()">
                    <mat-icon fontIcon="west"></mat-icon>
                    <p class="ml-2">Regresar</p>
                </div>
                <mat-card-title>Usuario</mat-card-title>
                <mat-card-subtitle *ngIf="type === 'create'" class="mat-body-1">Creación</mat-card-subtitle>
                <mat-card-subtitle *ngIf="type === 'edit'" class="mat-body-1">Edición</mat-card-subtitle>
            </div>
        </div>
    </mat-card-content>
</mat-card>

<mat-card class="cardWithShadow">
    <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="onSubmit()" >
            <p class="text-lg font-semibold m-5">Información General</p>
            <div class="flex flex-wrap justify-around mb-10">
                <mat-form-field appearance="fill" class="w-96 mb-4">
                    <mat-label>Nombre</mat-label>
                    <input autocomplete="off" matInput formControlName="firstName" minlength="1" maxlength="255" pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ ]*">
                    <mat-icon matSuffix>person</mat-icon>
                    <mat-error *ngIf="form.controls['firstName'].hasError('required')">Nombres <strong>requeridos</strong></mat-error>
                    <mat-error *ngIf="form.controls['firstName'].hasError('pattern')">Nombre inválido, ingrese solo letras</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" class="w-96 mb-4">
                    <mat-label>Apellido</mat-label>
                    <input autocomplete="off" matInput formControlName="lastName" minlength="1" maxlength="255" pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ ]*">
                    <mat-icon matSuffix>person</mat-icon>
                    <mat-error *ngIf="form.controls['lastName'].hasError('required')">Apellido <strong>requerido</strong></mat-error>
                    <mat-error *ngIf="form.controls['lastName'].hasError('pattern')">Apellido inválido, ingrese solo letras</mat-error>
                </mat-form-field>
            </div>
            <div class="flex flex-wrap justify-around mb-10">
                <mat-form-field appearance="fill" class="w-96 mb-4">
                    <mat-label>Correo Electrónico</mat-label>
                    <input autocomplete="off" type="email" matInput formControlName="email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$">
                    <mat-icon matSuffix>email</mat-icon>
                    <mat-error *ngIf="form.controls['email'].hasError('required')">Email <strong>requerido</strong></mat-error>
                    <mat-error *ngIf="form.controls['email'].hasError('pattern')">Email inválido, ingrese una dirección correcta</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" class="w-96 mb-4">
                    <mat-label>Contraseña</mat-label>
                    <input autocomplete="off" matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
            </div>
            <p class="text-lg font-semibold m-5">Roles</p>
            <div class="flex flex-wrap justify-around mb-10">
                <mat-form-field appearance="fill" class="w-96 mb-4">
                    <mat-label>Seleccionar Rol</mat-label>
                    <mat-select formControlName="role" required>
                        <mat-option *ngFor="let role of roles" [value]="role.id">
                            {{ role.name }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="form.controls['role'].hasError('required')">Rol <strong>requerido</strong></mat-error>
                </mat-form-field>
            </div>
            <p class="text-lg font-semibold m-5">Vista de Sucursales</p>
            <div class="flex flex-wrap justify-around mb-10">
            <mat-slide-toggle formControlName="allowBranchView" color="primary">
                ¿Desea permitir vista de sucursales?
            </mat-slide-toggle>
            </div>
            <div class="flex justify-end">
                <button mat-raised-button type="submit" class="bg-primary text-white h-14">Guardar</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
