<mat-card class="cardWithShadow">
  <mat-card-content>
      <div class="flex justify-between">
          <div>
            <div class="flex  mb-5 cursor-pointer hover:underline" (click)="returnPage()">
              <mat-icon fontIcon="west"></mat-icon>
              <p class="ml-2">Regresar</p>
            </div>
              <mat-card-title>Pacientes</mat-card-title>
              <mat-card-subtitle *ngIf="type === 'create' " class="mat-body-1">Creación</mat-card-subtitle>
              <mat-card-subtitle *ngIf="type === 'edit' " class="mat-body-1">Edición</mat-card-subtitle>
          </div>
          <div mat-card-avatar class="example-header-image">
            <img mat-card-image [src]="sanitizedImage" alt="Patient Image">
          </div>
          <button *ngIf="type === 'create' " (click)="openDialog('0ms', '0ms')" mat-flat-button class="bg-primary text-white">Agregar imagen</button>
          <button *ngIf="type === 'edit' " (click)="openDialog('0ms', '0ms')" mat-flat-button class="bg-primary text-white">Actualizar imagen</button>
      </div>
  </mat-card-content>
</mat-card>

<mat-card class="cardWithShadow">
  <mat-card-content>
    <mat-stepper [linear]="isLinear" #stepper>
      <mat-step [stepControl]="form" label="Información General">
        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="w-full shadow-md">
          <p class="text-lg font-semibold m-5">Información General</p>
          <div class="flex justify-around mb-5">
              <mat-form-field appearance="fill" [style.width.px]=400>
                <mat-label>Nombre</mat-label>
                <input autocomplete="nope" matInput formControlName="firstName" minlength maxlength pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ ]*">
                <mat-icon matSuffix>person</mat-icon>
                <mat-error *ngIf="form.controls['firstName'].hasError('required')">Nombres <strong>requeridos</strong></mat-error>
                <mat-error *ngIf="form.controls['firstName'].hasError('pattern')">Nombre inválido ingrese solo letras</mat-error>
              </mat-form-field>
              <mat-form-field appearance="fill" [style.width.px]=400>
                <mat-label>Apellido</mat-label>
                <input autocomplete="nope" matInput formControlName="lastName" pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ ]*">
                <mat-icon matSuffix>person</mat-icon>
                <mat-error *ngIf="form.controls['lastName'].hasError('required')">Apellidos <strong>requerido</strong></mat-error>
                <mat-error *ngIf="form.controls['lastName'].hasError('pattern')">Apellidos inválido ingrese solo letras</mat-error>
              </mat-form-field>
          </div>
          <div class="flex justify-around mb-5">
              <mat-form-field appearance="fill" [style.width.px]=400>
                <mat-label>Número de Teléfono</mat-label>
                <input autocomplete="nope" type="number" matInput minlength="1" maxlength="8" formControlName="phoneNumber" pattern="[0-9]*">
                <mat-icon matSuffix>phone</mat-icon>
                <mat-error *ngIf="form.controls['phoneNumber'].hasError('required')">Número de Teléfono <strong>requerido</strong></mat-error>
                <mat-error *ngIf="form.controls['phoneNumber'].hasError('maxlength')">Muchos caracteres<strong>requerido</strong></mat-error>
                <mat-error *ngIf="form.controls['phoneNumber'].hasError('pattern')">Número de Teléfono inválido ingrese solo números</mat-error>
              </mat-form-field>
              <mat-form-field appearance="fill" [style.width.px]=400>
                <mat-label>Teléfono Celular</mat-label>
                <input autocomplete="nope" type="number" matInput formControlName="cellPhoneNumber" pattern="[0-9]*">
                <mat-icon matSuffix>smartphone</mat-icon>
                <mat-error *ngIf="form.controls['cellPhoneNumber'].hasError('required')">Teléfono Celular <strong>requerido</strong></mat-error>
                <mat-error *ngIf="form.controls['cellPhoneNumber'].hasError('pattern')">Teléfono Celular inválido ingrese solo números</mat-error>
              </mat-form-field>
          </div>
          <div class="flex justify-around mb-5">
            <mat-form-field appearance="fill" [style.width.px]=400>
              <mat-label>Ciudad</mat-label>
              <input autocomplete="nope" matInput formControlName="city" pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ ]*">
              <mat-icon matSuffix>location_city</mat-icon>
              <mat-error *ngIf="form.controls['city'].hasError('required')">Ciudad <strong>requerido</strong></mat-error>
              <mat-error *ngIf="form.controls['city'].hasError('pattern')">Ciudad inválida ingrese una dirección correcta</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" [style.width.px]=400>
              <mat-label>Fecha de Nacimiento</mat-label>
              <input autocomplete="nope" type="date" matInput formControlName="birthDate">
              <mat-icon matSuffix>cake</mat-icon>
              <mat-error *ngIf="form.controls['birthDate'].hasError('required')">Fecha de Nacimiento <strong>requerida</strong></mat-error>
            </mat-form-field>
          </div>
          <div class="flex justify-around mb-5">
            <mat-form-field appearance="fill" [style.width.px]=400>
              <mat-label>Dirección</mat-label>
              <input autocomplete="nope" matInput formControlName="address" pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ ]*">
              <mat-icon matSuffix>place</mat-icon>
              <mat-error *ngIf="form.controls['address'].hasError('required')">Dirección <strong>requerida</strong></mat-error>
              <mat-error *ngIf="form.controls['address'].hasError('pattern')">Dirección inválida ingrese una dirección correcta</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" [style.width.px]=400>
              <mat-label>Correo Electrónico</mat-label>
              <input autocomplete="nope" type="email" matInput formControlName="email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$">
              <mat-icon matSuffix>email</mat-icon>
              <mat-error *ngIf="form.controls['email'].hasError('required')">Email <strong>requerido</strong></mat-error>
              <mat-error *ngIf="form.controls['email'].hasError('pattern')">Email inválido ingrese una dirección correcta</mat-error>
            </mat-form-field>
          </div>
          <div class="flex justify-around mb-5">
            <mat-form-field appearance="fill" [style.width.px]=400>
              <mat-label>Recomendado por</mat-label>
              <input autocomplete="nope" matInput formControlName="recommendedBy" pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ ]*">
              <mat-icon matSuffix>group</mat-icon>
              <mat-error *ngIf="form.controls['recommendedBy'].hasError('required')">Recomendación <strong>requerida</strong></mat-error>
              <mat-error *ngIf="form.controls['recommendedBy'].hasError('pattern')">Recomendación inválida ingrese una correcta</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" [style.width.px]=400>
              <mat-label>Persona a Cargo</mat-label>
              <input autocomplete="nope" matInput formControlName="personInCharge" pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ ]*">
              <mat-icon matSuffix>person</mat-icon>
              <mat-error *ngIf="form.controls['personInCharge'].hasError('required')">Persona a Cargo <strong>requerida</strong></mat-error>
              <mat-error *ngIf="form.controls['personInCharge'].hasError('pattern')">Persona a Cargo inválida ingrese una correcta</mat-error>
            </mat-form-field>
          </div>
          <div class="flex justify-around mb-5">
            <mat-form-field appearance="fill" [style.width.px]=400>
              <mat-label>Estado Civil</mat-label>
              <mat-select formControlName="maritalStatus">
                  <mat-option value="Soltero">Soltero</mat-option>
                  <mat-option value="Casado">Casado</mat-option>
              </mat-select>
              <mat-icon matSuffix>favorite</mat-icon>
              <mat-error *ngIf="form.controls['maritalStatus'].hasError('required')">Estado civil <strong>requerido</strong></mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" [style.width.px]=400>
              <mat-label>Ocupación</mat-label>
              <input autocomplete="nope" matInput formControlName="occupation">
              <mat-icon matSuffix>work</mat-icon>
              <mat-error *ngIf="form.controls['occupation'].hasError('required')">Ocupación <strong>requerida</strong></mat-error>
              <mat-error *ngIf="form.controls['occupation'].hasError('pattern')">Ocupación inválida ingrese una correcta</mat-error>
            </mat-form-field>
          </div>
          <div class="flex justify-around mb-5">
            <mat-form-field appearance="fill" [style.width.px]=400>
              <mat-label>Dentista Previo</mat-label>
              <input autocomplete="nope" matInput formControlName="previousDentist" pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ ]*">
              <mat-icon matSuffix>person</mat-icon>
              <mat-error *ngIf="form.controls['previousDentist'].hasError('required')">Dentista previo <strong>requerido</strong></mat-error>
              <mat-error *ngIf="form.controls['previousDentist'].hasError('pattern')">Dentista previo inválido ingrese uno correcto</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" [style.width.px]=400>
              <mat-label>Doctor Personal</mat-label>
              <input autocomplete="nope" matInput formControlName="personalDoctor" pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ ]*">
              <mat-icon matSuffix>person</mat-icon>
              <mat-error *ngIf="form.controls['personalDoctor'].hasError('required')">Doctor personal <strong>requerido</strong></mat-error>
              <mat-error *ngIf="form.controls['personalDoctor'].hasError('pattern')">Doctor personal inválido, ingrese uno correcto</mat-error>
            </mat-form-field>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="form2" label="Detalles">
          <p class="text-md font-bold">Seleccione las opciones:</p>
          <br>
          <div class="flex flex-wrap justify-start p-20">
            <p *ngFor="let detalle of detallesEnfermedad;let i = index;" class="min-w-60 h-20">
              <mat-slide-toggle [(ngModel)]="detalle.selected">{{detalle.name}}&nbsp;</mat-slide-toggle>
            </p>
          </div>
          <div class="flex grow">
            <br>
            <br>
            <button matStepperNext (click)="onSubmit()"  mat-raised-button type="submit" class="bg-primary text-white grow h-14">Guardar</button>
          </div>
      </mat-step>
    </mat-stepper>
  </mat-card-content>
</mat-card>
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
