<h2 mat-dialog-title>Eliminar Paciente</h2>
<mat-dialog-content>
  <div>
    <p>¿Te gustaría eliminar el paciente:</p>
    <br>
    <p class="text-md font-bold">
      {{data.paciente.firstName}},{{data.paciente.lastName}}?
    </p>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button (click)="closeDialog()" class="bg-secondary text-white" mat-flat-button>No</button>
  <button (click)="eliminarPaciente(data.paciente.id)" class="bg-primary text-white" mat-flat-button cdkFocusInitial>Eliminar</button>
</mat-dialog-actions>