<mat-card class="cardWithShadow">
    <mat-card-content>
        <div class="flex justify-between">
            <div>
                <mat-card-title>Tipos de Tratamientos</mat-card-title>
                <mat-card-subtitle class="mat-body-1">Listado</mat-card-subtitle>
            </div>
            <button mat-flat-button color="primary" (click)="redirectCreate()">Crear Tipo de Tratamiento </button>
        </div>
    </mat-card-content>
</mat-card>

<mat-form-field>
    <input class="form-control" matInput placeholder="Buscar" (keyup)="applyFilter($event)">
</mat-form-field>
<table mat-table [dataSource]="dataSource">
    <!-- Position Column -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let treatmentType"> {{treatmentType.id}} </td>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let treatmentType"> {{treatmentType.name}} </td>
    </ng-container>
    <!-- Weight Column -->
    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Descripción </th>
        <td mat-cell *matCellDef="let treatmentType"> {{treatmentType.description}} </td>
    </ng-container>
    <!-- Weight Column -->
    <ng-container matColumnDef="suggestedPrice">
        <th mat-header-cell *matHeaderCellDef> Precio Sugerido (Q.) </th>
        <td mat-cell *matCellDef="let treatmentType"> {{treatmentType.suggestedPrice}} </td>
    </ng-container>
    <ng-container matColumnDef="estimatedTime">
        <th mat-header-cell *matHeaderCellDef> Tiempo Estimado </th>
        <td mat-cell *matCellDef="let treatmentType"> {{treatmentType.estimatedTime}} </td>
    </ng-container>
    <!-- Status Column -->
    <ng-container matColumnDef="active">
        <th mat-header-cell *matHeaderCellDef> Estado </th>
        <td mat-cell *matCellDef="let treatmentType">
            <ng-template [ngIf]="treatmentType.active===true">
                <span
                  class="bg-light-accent text-accent rounded f-w-600 p-6 p-y-4 f-s-12"
                >
                    Activo
                </span>
            </ng-template>
            <ng-template [ngIf]="treatmentType.active===false">
                <span
                    class="bg-light-error text-error rounded f-w-600 p-6 p-y-4 f-s-12"
                >
                    Inactivo
                </span>
            </ng-template>
        </td>
    </ng-container>
    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let treatmentType">
            <button mat-icon-button (click)="editarTreatmentType(treatmentType)" matTooltip="Editar">
                <mat-icon [ngStyle]="{'color':'yellow'}" fontIcon="edit">more_vert</mat-icon>
            </button>
            <button mat-icon-button (click)="eliminarTreatmentType(treatmentType)" matTooltip="Eliminar">
                <mat-icon [ngStyle]="{'color':'red'}" fontIcon="delete">home</mat-icon>
            </button>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSize]="7" showFirstLastButtons aria-label="Select page of periodic elements"></mat-paginator>
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>