<mat-card class="cardWithShadow mb-4">
  <div class="flex items-center mb-5 cursor-pointer hover:underline" (click)="returnPage()">
    <mat-icon fontIcon="west"></mat-icon>
    <p class="ml-2">Regresar</p>
  </div>

  <mat-card-content>
    <div class="flex justify-between items-center">
        <div>
            <mat-card-title>Paciente: {{paciente.firstName}} {{paciente.lastName}}</mat-card-title>
            <mat-card-subtitle class="mat-body-1">Edad: {{ paciente.birthDate | date }} </mat-card-subtitle>
        </div>
        <div>
            <img mat-card-image [src]="sanitizedImage" alt="Foto del paciente" style="width: 100px; height: 100px; border-radius: 50%;">
        </div>
    </div>
</mat-card-content>

  <mat-card-content class="space-y-4">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <p><strong>Números de Contacto:</strong> {{ paciente.phoneNumber }} - {{ paciente.cellPhoneNumber }}</p>
      <p><strong>Correo Electrónico:</strong> {{ paciente.email }}</p>
      <p><strong>Ciudad:</strong> {{ paciente.city }}</p>
      <p><strong>Dirección:</strong> {{ paciente.address }}</p>
      <p><strong>Recomendado por:</strong> {{ paciente.recommendedBy }}</p>
      <p><strong>Persona a Cargo:</strong> {{ paciente.personInCharge }}</p>
      <p><strong>Estado Civil:</strong> {{ paciente.maritalStatus }}</p>
      <p><strong>Ocupación:</strong> {{ paciente.occupation }}</p>
      <p><strong>Doctor Personal:</strong> {{ paciente.personalDoctor }}</p>
      <p><strong>Dentista Previo:</strong> {{ paciente.previousDentist }}</p>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="cardWithShadow mb-4">
  <mat-card-content>
    <h3 class="text-lg font-semibold mb-2">Detalle de Enfermedad:</h3>
    <div *ngFor="let detail of paciente.illnessDetails; let i = index" class="mb-4">
      <p class="text-gray-700"><strong>{{ i + 1 }}. Nombre:</strong> {{ detail.name }}</p>
      <p class="text-gray-500"><strong>Descripción:</strong> {{ detail.description }}</p>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="cardWithShadow mb-4">
  <mat-card-content>
    <h3 class="text-lg font-semibold mb-2">Historial de Planes de Tratamientos</h3>
    <mat-form-field class="w-full mb-4">
      <mat-label>Buscar</mat-label>
      <input matInput (keyup)="applyFilter($event)">
    </mat-form-field>
    <div class="mat-elevation-z8">
      <mat-table [dataSource]="treatmentDataSource" class="mat-table" matSort>
          <ng-container matColumnDef="treatment">
              <mat-header-cell *matHeaderCellDef> Tratamiento </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="description">
              <mat-header-cell *matHeaderCellDef> Descripción </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="date">
              <mat-header-cell *matHeaderCellDef> Fecha </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.created_at | date}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="details">
              <mat-header-cell *matHeaderCellDef> Detalles </mat-header-cell>
              <mat-cell *matCellDef="let element">
                  <mat-expansion-panel>
                      <mat-expansion-panel-header>
                          <mat-panel-title>
                              Ver Detalles
                          </mat-panel-title>
                      </mat-expansion-panel-header>
                      <div *ngFor="let detail of element.treatmentDetails">
                          <p>Id: {{detail.id}}</p>
                          <p>Pieza: {{detail.piece}}</p>
                          <p>Precio Sugerido Q: {{detail.suggestedPrice }}</p>
                          <p>Precio Real Q: {{detail.realPrice }}</p>
                          <p>Monto Pendiente Q: {{detail.pendingAmount }}</p>
                          <br>
                      </div>
                  </mat-expansion-panel>
              </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedTreatmentColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedTreatmentColumns;"></mat-row>
      </mat-table>
      <mat-paginator #treatmentPaginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="cardWithShadow mb-4">
  <mat-card-content>
    <h3 class="text-lg font-semibold mb-2">Historial de citas</h3>
    <mat-form-field class="w-full mb-4">
      <mat-label>Buscar</mat-label>
      <input matInput (keyup)="applyFilter2($event)">
    </mat-form-field>
    <div class="mat-elevation-z8">
      <mat-table [dataSource]="appointmentDataSource" class="mat-table" matSort>
        <!-- Fecha Column -->
        <ng-container matColumnDef="appointmentDate">
          <mat-header-cell *matHeaderCellDef> Fecha </mat-header-cell>
          <mat-cell *matCellDef="let appointment"> {{ appointment.appointmentDate | date: 'dd/MM/yyyy' }} </mat-cell>
        </ng-container>
        <!-- Hora de Inicio Column -->
        <ng-container matColumnDef="startHour">
          <mat-header-cell *matHeaderCellDef> Hora de Inicio </mat-header-cell>
          <mat-cell *matCellDef="let appointment"> {{ appointment.startHour }} </mat-cell>
        </ng-container>
        <!-- Hora de Fin Column -->
        <ng-container matColumnDef="endHour">
          <mat-header-cell *matHeaderCellDef> Hora de Fin </mat-header-cell>
          <mat-cell *matCellDef="let appointment"> {{ appointment.endHour }} </mat-cell>
        </ng-container>
        <!-- Estado Column -->
        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef> Estado </mat-header-cell>
          <mat-cell *matCellDef="let appointment">
            <span [ngClass]="{ 'bg-light-error text-error': appointment.status === 0, 'bg-light-accent text-accent': appointment.status === 1 }" class="rounded f-w-600 p-6 p-y-4 f-s-12">
              {{ appointment.status === 0 ? 'Pendiente' : 'Completada' }}
            </span>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedAppointmentColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedAppointmentColumns;"></mat-row>
      </mat-table>
      <mat-paginator #appointmentPaginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="cardWithShadow p-6 mb-4 flex justify-end">
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="returnPage()">Regresar</button>
  </mat-card-actions>
</mat-card>

<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
