<mat-card class="cardWithShadow">
    <mat-card-content>
        <div class="flex justify-between">
            <div>
              <div class="flex  mb-5 cursor-pointer hover:underline" (click)="returnPage()">
                <mat-icon fontIcon="west"></mat-icon>
                <p class="ml-2">Regresar</p>
              </div>
                <mat-card-title>Tipo de Tratamiento</mat-card-title>
                <mat-card-subtitle *ngIf="type === 'create' " class="mat-body-1">Creación</mat-card-subtitle>
                <mat-card-subtitle *ngIf="type === 'edit' " class="mat-body-1">Edición</mat-card-subtitle>
            </div>
        </div>
    </mat-card-content>
</mat-card>

<mat-card class="cardWithShadow">
    <mat-card-content>
        <!-- FORM -->
        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="w-full shadow-md">
            <p class="text-lg font-semibold m-5">Información General</p>
            <div class="flex justify-around mb-5">
                <mat-form-field appearance="fill" [style.width.px]=400>
                  <mat-label>Nombre</mat-label>
                  <input autocomplete="nope" matInput formControlName="name" minlength maxlength pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ ]*">
                  <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                  <mat-error *ngIf="form.controls['name'].hasError('required')">Nombres <strong>requeridos</strong></mat-error>
                  <mat-error *ngIf="form.controls['name'].hasError('pattern')">Nombre inválido ingrese solo letras</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" [style.width.px]=400>
                  <mat-label>Descripción</mat-label>
                  <input autocomplete="nope" matInput formControlName="description" pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ ]*">
                  <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                  <mat-error *ngIf="form.controls['description'].hasError('required')">Apellidos <strong>requerido</strong></mat-error>
                  <mat-error *ngIf="form.controls['description'].hasError('pattern')">Apellidos inválido ingrese solo letras</mat-error>
                </mat-form-field>
            </div>
            <div class="flex justify-around mb-5">
                <mat-form-field appearance="fill" [style.width.px]=400>
                  <mat-label>Precio Sugerido</mat-label>
                  <input autocomplete="nope" type="number" matInput minlength="1" maxlength="8" formControlName="suggestedPrice" pattern="[0-9]*">
                  <mat-icon matSuffix>money</mat-icon>
                  <mat-error *ngIf="form.controls['suggestedPrice'].hasError('required')">Número de Teléfono <strong>requerido</strong></mat-error>
                  <mat-error *ngIf="form.controls['suggestedPrice'].hasError('maxlength')">Muchos caracteres<strong>requerido</strong></mat-error>
                  <mat-error *ngIf="form.controls['suggestedPrice'].hasError('pattern')">Número de Teléfono inválido ingrese solo números</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" [style.width.px]=400>
                  <mat-label>Precio Estimado</mat-label>
                  <input autocomplete="nope" type="number" matInput formControlName="estimatedTime" pattern="[0-9]*">
                  <mat-icon matSuffix>money</mat-icon>
                  <mat-error *ngIf="form.controls['estimatedTime'].hasError('required')">Teléfono Celular <strong>requerido</strong></mat-error>
                  <mat-error *ngIf="form.controls['estimatedTime'].hasError('pattern')">Teléfono Celular inválido ingrese solo números</mat-error>
                </mat-form-field>
            </div>
            <div class="flex grow">
                <br>
                <br>
                <button (click)="onSubmit()" mat-raised-button color="primary" type="submit" class="grow h-14">Guardar</button>
            </div>
          </form>
        </mat-card-content>
    </mat-card>
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>