<mat-card class="cardWithShadow">
  <mat-card-content>
      <div class="flex justify-between">
          <div>
              <mat-card-title>Archivos</mat-card-title>
              <mat-card-subtitle class="mat-body-1">Listado</mat-card-subtitle>
          </div>
          <button mat-flat-button class="bg-primary text-white" (click)="redirectCreate()" *appHasPermission="crearDocumento">
              Cargar Documento
          </button>
      </div>
  </mat-card-content>
</mat-card>

<mat-form-field>
  <input class="form-control" matInput placeholder="Buscar" (keyup)="applyFilter($event)">
</mat-form-field>

<table mat-table [dataSource]="dataSource">
  <!-- No. Column -->
  <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let document"> {{document.id}} </td>
  </ng-container>

  <!-- Icon Column -->
  <ng-container matColumnDef="icon">
      <th mat-header-cell *matHeaderCellDef> Tipo </th>
      <td mat-cell *matCellDef="let document">
          <tabler-icon 
              [name]="getFileIcon(document.fileCode).name" 
              [ngStyle]="{'color': getFileIcon(document.fileCode).color}">
          </tabler-icon>
      </td>
  </ng-container>

  <!-- File Name Column -->
  <!-- File Name Column -->
  <ng-container matColumnDef="fileName">
    <th mat-header-cell *matHeaderCellDef> Nombre del archivo </th>
    <td mat-cell *matCellDef="let document"> {{ getDecodedFileName(document.fileName) }} </td>
  </ng-container>

  <!-- File Code Column -->
  <!-- <ng-container matColumnDef="fileCode">
      <th mat-header-cell *matHeaderCellDef> Código del archivo </th>
      <td mat-cell *matCellDef="let document"> {{ document.fileCode }} </td>
  </ng-container> -->

  <!-- Uploaded By Column -->
  <ng-container matColumnDef="uploadedBy">
      <th mat-header-cell *matHeaderCellDef> Subido por </th>
      <td mat-cell *matCellDef="let document"> {{document.uploadedBy.firstName}} {{document.uploadedBy.lastName}} </td>
  </ng-container>

  <ng-container matColumnDef="patient">
    <th mat-header-cell *matHeaderCellDef> Paciente</th>
    <td mat-cell *matCellDef="let document"> {{document.patient.firstName}} {{document.patient.lastName}} </td>
  </ng-container>

  <!-- Created At Column -->
  <ng-container matColumnDef="created_at">
      <th mat-header-cell *matHeaderCellDef> Fecha de creación </th>
      <td mat-cell *matCellDef="let document"> {{document.created_at | date}} </td>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Acciones </th>
    <td mat-cell *matCellDef="let document">
        <button mat-icon-button (click)="viewDocument(document.fileCode)">
            <mat-icon [ngStyle]="{'color':'blue'}" matTooltip="Descargar">download</mat-icon>
        </button>
    </td>
  </ng-container>


  <!-- Header row -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <!-- Data rows -->
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSize]="7" showFirstLastButtons aria-label="Select page of periodic elements"></mat-paginator>
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
