<div class="grid grid-cols-1 md:grid-cols-3 gap-6 p-6">
  <!-- Usuarios -->
  <mat-card class="shadow-lg">
    <mat-card-header class="bg-primary text-white">
      <mat-card-title>Usuarios</mat-card-title>
    </mat-card-header>
    <mat-card-content class="flex flex-col items-center">
      <apx-chart
        [series]="usersChartOptions.series"
        [chart]="usersChartOptions.chart"
        [labels]="usersChartOptions.labels"
        [colors]="usersChartOptions.colors"
        [legend]="usersChartOptions.legend"
      ></apx-chart>
      <div class="flex justify-center gap-4 mt-4">
        <span class="flex items-center gap-1">
          <span class="bg-primary-button h-3 w-3 rounded-full inline-block"></span> 
          <span>Active</span>
        </span>
        <span class="flex items-center gap-1">
          <span class="bg-secondary-button h-3 w-3 rounded-full inline-block"></span> 
          <span>Inactive</span>
        </span>
      </div>
    </mat-card-content>
  </mat-card>

  <!-- Pacientes -->
  <mat-card class="shadow-lg">
    <mat-card-header class="bg-secondary text-white">
      <mat-card-title>Pacientes</mat-card-title>
    </mat-card-header>
    <mat-card-content class="flex flex-col items-center">
      <apx-chart
        [series]="patientsChartOptions.series"
        [chart]="patientsChartOptions.chart"
        [labels]="patientsChartOptions.labels"
        [colors]="patientsChartOptions.colors"
        [legend]="patientsChartOptions.legend"
      ></apx-chart>
      <div class="flex justify-center gap-4 mt-4">
        <span class="flex items-center gap-1">
          <span class="bg-primary-button h-3 w-3 rounded-full inline-block"></span> 
          <span>Active</span>
        </span>
        <span class="flex items-center gap-1">
          <span class="bg-secondary-button h-3 w-3 rounded-full inline-block"></span> 
          <span>Inactive</span>
        </span>
      </div>
    </mat-card-content>
  </mat-card>

  <!-- Sucursales -->
  <mat-card class="shadow-lg">
    <mat-card-header class="bg-primary text-white">
      <mat-card-title>Sucursales</mat-card-title>
    </mat-card-header>
    <mat-card-content class="flex flex-col items-center">
      <apx-chart
        [series]="branchsChartOptions.series"
        [chart]="branchsChartOptions.chart"
        [labels]="branchsChartOptions.labels"
        [colors]="branchsChartOptions.colors"
        [legend]="branchsChartOptions.legend"
      ></apx-chart>
      <div class="flex justify-center gap-4 mt-4">
        <span class="flex items-center gap-1">
          <span class="bg-primary-button h-3 w-3 rounded-full inline-block"></span> 
          <span>Active</span>
        </span>
        <span class="flex items-center gap-1">
          <span class="bg-secondary-button h-3 w-3 rounded-full inline-block"></span> 
          <span>Inactive</span>
        </span>
      </div>
    </mat-card-content>
  </mat-card>
</div>
